<div class="row">
  <div class="col-md-8">
    <h2>
      Questions
    </h2>

    <table class="table">
      <tbody>
        <% @questions.find_each do |question| %>
          <tr>
            <td>
              <strong>
                <%= question.id %>.
              </strong>
            </td>

            <td>
              <%= truncate(question.title, length: 75) %>
            </td>

            <td>
              <%= link_to 'View', question_path(question), class: 'btn btn-default btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
