{
  "presets": [
    [
      "env",
      {
        "test": {
          "modules": "commonjs"
        },
        "development": {
          "modules": false
        },
        "production": {
          "modules": false
        },
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 firefox versions",
            "last 2 chrome versions",
            "last 2 safari versions",
            "edge 15-16",
            "ie 11"
          ],
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "alias": {
          "~": "./app/javascript",
          "^~(.+)": "./app/javascript/src/\\1",
          "#": "./__js_test_config"
        }
      }
    ]
  ]
}
