<div class="row">
  <div class="col-md-8">
    <h2>
      Survey Responses
    </h2>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Completed?</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @survey_responses.each do |survey_response| %>
          <tr>
            <td>
              <%= truncate(survey_response.display_name, length: 90) %>
            </td>

            <td>
              <% if survey_response.completed? %>
                Yes
              <% else %>
                <span class="text-danger">No</span>
              <% end %>
            </td>

            <td>
              <%= link_to 'View', survey_response, class: 'btn btn-default btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
