<div class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Creative Difference', root_path, class: 'navbar-brand' %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav nav">
        <li>
          <%= link_to 'Questions', questions_path %>
        </li>

        <li>
          <%= link_to 'Responses', responses_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
