<script>
  /*
    Quick way to get creativeQualities to JS.
    Would eventually be replaced with API call.
  */
  window.qualsJSON = <%== @creative_qualities.to_json %>
</script>

<!-- This is where the React app gets rendered -->
<div id="react-root">
  <!-- currently just rendering H2 title -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <%= @creative_qualities.find_each do |creative_quality| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= creative_quality.name %>
            </div>

            <div class="panel-body">
              <p>
                <%= creative_quality.description %>
              </p>

              <hr>

              <p>
                <strong>Your Score: _______</strong>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
